body {
  font-family: Helvetica, sans-serif;
  margin: 0px;
  /*background-color: #090628;*/
  background-color: #293133;
}

article{
	display: flex;
	justify-content: flex-start;
	align-item: center;
	margin: 0px;
}

.Logo{
	border-radius: 50px;
	width: 50px;
	height: 50px;
	justify-content: flex-start;
}

header{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 200px;
	height: 100vh;
	bottom: 0px;
	padding: 3px;
}

.Init{
	display: flex;
}

#title{
	margin-top: 0px;
	text-align: center;
	font-size: 85px;
	color: white;
	position: fixed;
}

.lista{
	color: white;
}

.corpo{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	border: 10px solid Red;
	width: 100vw;
	background-color: white;
}

.box{
	text-align: center;
	margin: 10px;
	border-top: 3px solid red;
	padding: 10px;
	
}

#nasa-view {
  display: flex;
  flex-wrap: wrap;
}

#nasa-view .data {
  margin: 10px;
  border: 1px solid Red;
  padding: 5px;
  max-width: 150px;
  display: flex;
  flex-direction: column;
}

#nasa-view img {
  max-width: 100%;
  background-size: cover;
}


#album-view {
  display: flex;
  flex-wrap: wrap;
}

#album-view .album {
  margin: 10px;
  border: 1px solid Red;
  padding: 5px;
  max-width: 150px;
  display: flex;
  flex-direction: column;
}

#album-view img {
  max-width: 100%;
   background-size: cover;
}